/* GRID DE LA PORTADA*/

.grid_actividades{
    display:grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    gap: 20px; /* Espacio entre los elementos */
    border:none;
    padding: 10px;
    margin: 5px; 
}

.grid_item {
    padding:5%;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    background-size: cover;
}

.grid_item img {
    width: 100%;
    height: auto;
    margin: 0px;
    box-sizing: border-box;
    object-fit: cover;
}

.grid_item p {
    display: block;
    padding: 5px;
    text-align: center;
    background-color: #c5baaa;
    color: #2c2c2c;
    position: absolute;
    top: 88%;
    width: 90%;
    box-sizing: border-box;
}
